$base-font-size = 18px
$small-font-size = 0.8rem
$base-font-family = Menlo, Helvetica, sans-serif

$dark-gray = #333
$medium-gray = #ccc
$light-gray = #eee
$red = #b10000

$text-color = $dark-gray
$bkgd-color = #fff
$header-bkgd-color = $light-gray
$border-color = $medium-gray
$link-color = $red
$page-width = 640px

html
  font-family $base-font-family
  font-size $base-font-size
  padding 0
  margin 0
  width 100%
  height 100%

body
  font-size 1em
  background $bkgd-color
  color $text-color
  width 100%
  height 100%
  padding 0
  margin 0

a
  text-decoration none
  color $link-color

.site__header
  border-bottom 1px solid $border-color
  padding 1em 2em
  display flex
  justify-content space-between
  align-items center
  background $header-bkgd-color

.site__title
  text-transform uppercase
  font-size 1.1rem
  margin 0
  padding 0

.site__home-link
  color $text-color

.site__info
  font-size $small-font-size

.social__nav
  font-size 1rem
  line-height $small-font-size

.site__nav
  text-transform uppercase
  font-size 1rem

.site__nav-item
  margin 0 0.5rem

.page
  width $page-width
  margin 0 auto

.page__title
  text-transform uppercase
  font-size 1.2rem
  text-align center
  margin 0
  padding 2rem 0 1rem 0

.post-item
  padding 1em
  margin 0 -1em
  border-bottom 1px solid $border-color 

.post-item__wrapper
  &:last-child
    .post-item
      border none

.post-item__date
  font-size $small-font-size

.post-item__title
  margin 0
  font-size 1rem

.post-item__abstract
  font-size 1rem

.post-item__read-article
  font-size 1rem

.post
  width $page-width
  margin 0 auto
  padding 2rem 0 1rem 0

.post__title
  font-size 1.2rem
  margin 0
  text-transform uppercase

.post__date
  font-size $small-font-size

.post__content
  h3
    font-size 1rem
    padding 1em 0 0 0
  p
    font-size $base-font-size
    line-height 1.6em
  code
    background $light-gray
    padding 2px 0.5rem
    border-radius 2px

.post__footer
  padding 1rem 0
  margin 2rem 0 0 0
  border-top 1px solid $border-color

.u-nolist
  list-style-type none
  padding 0
  margin 0
  &--h
    li
      display inline

.u-inline
  display inline

.u-left
  float left

.u-right
  float right

.u-clear
  &:after
    content ""
    display table
    clear both

.u-no-space
  margin 0
  padding 0

@media(max-width $page-width)
  // TODO