<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{metaDescription}}" />
    <title>{{title | siteTitle}}</title>
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  </head>
  <body>
    <header role="banner" class="site__header">
      <h1 class="site__title"><a href="/">Andreas McDermott</a></h1>
      
      {% include "social_nav.html" %}

      <nav role="navigation" class="site__nav" aria-label="Site navigation">
        <ul role="presentation" class="u-nolist u-nolist--h">
          <li role="presentation"><a href="/posts" class="site__nav-item">Posts</a></li>
          <li role="presentation"><a href="/about" class="site__nav-item">About</a></li>
        </ul>
      </nav>
    </header>

    <main role="main" class="site__content">
      {% block content %}{% endblock %}
    </main>

    <script src="https://use.fontawesome.com/9a8c6d3637.js"></script>
  </body>
</html>  