<nav role="navigation" class="social__nav u-right" aria-label="Social navigation">
  <ul role="presentation" class="u-nolist u-nolist--h u-inline">
    <li role="presentation">
      <a href="https://github.com/andreasmcdermott" 
          target="_blank" 
          class="social__nav-item"
          aria-label="Github"
          title="Github"
      ><i class="fa fa-github"></i></a>
    </li>
    <li role="presentation">
      <a href="https://twitter.com/andreasmcd84" 
          target="_blank" 
          class="social__nav-item"
          aria-label="Twitter"
          title="Twitter"
      ><i class="fa fa-twitter"></i></a>
    </li>
  </ul>
</nav>